:root {
	--space-s: 8px;
	--space-m: 12px;
	--space-xm: 16px;
	--space-l: 24px;
	--space-b: 36px;

	--size-s: 14px;
	--size-d: 16px;
	--size-l: 20px;
	--size-b: 24px;

	--color-border: #D3DEE9;
	
	--color-primary: rgb(52, 52, 255);
	--color-white: #fff;
	--color-title: #212529;
	--color-text: #343A40;
	--color-border: #DEE2E6;

	--border-radius-d: 12px;
	--border-radius-s: 4px;
	--weight-title: 600;
	--weight-text: 400;

	--page-width: 1000px;
}


/* ===================== */

.page {
	background: var(--color-white);
	padding: 0 15px;

	display: flex;
	justify-content: center;
}

.page_content {
	max-width: var(--page-width);
	width: 100%;

	display: flex;
	flex-direction: column;

	gap: 80px;
}

/* ===================== */

.header {
	padding: var(--space-l) 0;
	border-bottom: 1px solid var(--color-border);

	display: flex;
	justify-content: space-between;

	position: sticky;

	max-width: var(--page-width);
	width: 100%;

	top: 0;
	/* left: calc(50% (var(--page-width) / 2)); */

	background-color: var(--color-white);

	z-index: 1;
}

.logo {
	font-size: 17px;
	color: var(--color-white);
	background: var(--color-primary);
	width: 24px;
	height: 24px;

	border-radius: calc(var(--border-radius-d) / 2);
	display: flex;
	justify-content: center;
	align-items: center;

}

.nav {
	display: flex;
}

.nav_inline {
	gap: var(--space-l);
}

.nav_vertical {
	gap: var(--space-xm);
	flex-direction: column;
}

.nav_link{
	color: var(--color-text);
	font-size: var(--size-d);
	text-decoration: none;

	line-height: 100%;

	transition-property: color;
	transition-duration: 1s;
}

.nav_link:hover {
	text-decoration: underline;
	color: var(--color-primary);

	
}

.footer {
	padding: var(--space-l) 0;
	border-top: 1px solid var(--color-border);

	display: flex;
	justify-content: space-between;
}

.footer_copyright {
	font-size: var(--size-s);
	color: var(--color-text);

	display: block;
	margin-top: var(--space-l);
}

.footer_title {
	font-size: var(--size-l);
	color: var(--color-title);

	display: block;
	margin-bottom: var(--space-l);

	font-weight: var(--weight-title);
}

.main {
	display: flex;
	align-items: flex-start;
	width: 100%;
	gap: var(--space-l);
}

.title {
	max-width: 600px;
	width: 100%;
	font-size: 56px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--space-l);

}

.description {
	max-width: 400px;
	display: flex;
	flex-direction: column;
	justify-content:flex-start;
	font-size: var(--size-b);
	line-height: var(--space-b);
	gap: var(--space-l);
	padding: 24px 0 0 0 
	
} 


.form {
	max-width: 400px;
	width: 100%;

	background-color: #F8F9FA;
	border: 1px solid var(--color-border);
	border-radius: var(--border-radius-s);

	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);

	padding: 60px 48px;

	display: flex;
	flex-direction: column;
	gap: var(--space-l);
}


.line {
	border: 1px solid #E4EAF2;
	border-radius: var(--border-radius-d);
}


.form_info {
	text-align: center;
	font-size: var(--size-s);
	font-weight: var(--weight-text);
	color: #6c757d;
}

.form_button {
	text-align: center;
	padding: 12px;
	background-color: var(--color-primary);
	color: var(--color-white);
	border-radius: calc(var(--border-radius-d) / 3);

	transition: opacity 0.7s;
	
}

.form_button:hover {
	opacity: 0.7;
}

.form_button:active {
	opacity: 0.3;
}

.form_input_list {
	display: flex;
	gap: var(--space-m);
	flex-direction: column;

}

.form_input {
	padding: var(--space-xm);
	border: 1px solid #ced4da;
	border-radius: var(--border-radius-s);
	
}

.form_input::placeholder {
	color: var(--color-title);
	font-size: var(--size-d);
}

.form_checkbox {
	display: flex;
	gap: var(--space-s);
	align-items: center;
}

.form_checkbox > input {
	display: none;
}

.form_checkbox > input ~ div {
	border-radius: 4px;
	border: 1px solid #767676;
	height: 13px;
	width: 13px;
}

.form_checkbox > input:checked ~ div {
	border-color: var(--color-primary);
	background-color: var(--color-primary);
}

.form_checkbox > label {
	color: var(--color-title);
	font-size: var(--size-d);
	cursor: pointer;
}


.updates{
	display: flex;
	flex-direction: column;
	width: 1000px;
	padding: var(--size-b);
	gap:var(--space-l);
	background: var(--color-white);
	box-shadow: 0px 4px 12px  rgba(0, 0, 0, 0.05);
	border-radius: var(--border-radius-s);
}

.updates_title{
	display: flex;
	align-self: stretch;
	font-size: var(--size-l);
	gap: var(--space-m);

	padding-bottom: 10px;
	border-bottom: 1px solid var(--color-border);
}

.square {
	display: flex;
	flex-direction: column;
	width: 32px;
	height: 32px;
	background-color: purple;
	gap: var(--space-m);
	
}

.list_nickname {
	display: flex;
	flex-direction: column;
	gap: var(--space-m);
	color: #6C757D;
	line-height: var(--size-d);

	
}

.list_description {
	display: flex;
	flex-direction: column;
	color: #6C757D;
	gap: var(--space-b);
	

	padding-bottom: 10px;
	border-bottom: 1px solid var(--color-border);
}

.show_link:hover {
	opacity: 0.7;
}
.expirience {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	border-radius: 4px;
	background: #F8F9FA;
	padding: var(--size-b) 28px;
	gap: var(--space-l);
}

.expirience_title {
	display: flex;
	align-items: stretch;
	font-size: 42px;
	color: var(--color-title);

	gap: var(--space-l);
}


.badge_expirience {
	display: inline-flex;
	flex-direction: column;
	transform: rotate(30deg);
	padding: var(--space-m) var(--space-l);
	gap: var(--space-m);
	border-radius: 70px;
	background: #FF7347;


}


.list_expirience{
	display: flex;
	gap: var(--space-l);
}

.list_expirience > div {
	display: flex;
	flex-direction: column;
	background: var(--color-title);
	border-radius: var(--border-radius-d);
	padding: var(--space-xm);
	gap: var(--space-s);
}

.list_expirience > div > strong {
	color: var(--color-white);
	font-size: var(--size-l);
	line-height: 26px;
}

.list_expirience > div > p {
	color: #B1B1B1;
	font-size: var(--size-d);
	line-height: 22px;
}
