:root {
	--space-m: 12px;
	--space-xm: 16px;
	--space-l: 24px;
	--space-b: 36px;

	--size-s: 14px;
	--size-d: 16px;
	--size-l: 20px;

	--color-border: #DEE2E6;
	--color-primary: rgb(52, 52, 255);
	--color-white: #fff;
	--color-title: #212529;
	--color-text: #343A40;

	--border-radius: 12px;

	--weight-title: 500;
	--weight-text: 400;
}


/* ===================== */

.page {
	background: var(--color-white);
	padding: 0 15px;

	display: flex;
	justify-content: center;
}

.page_content {
	max-width: 960px;
	width: 100%;

	display: flex;
	flex-direction: column;

	gap: 80px;
}

/* ===================== */

.header {
	padding: var(--space-l) 0;
	border-bottom: 1px solid var(--color-border);

	display: flex;
	justify-content: space-between;
}

.logo {
	font-size: 17px;
	color: var(--color-white);
	background: var(--color-primary);
	width: 24px;
	height: 24px;

	border-radius: calc(var(--border-radius) / 2);
	display: flex;
	justify-content: center;
	align-items: center;

}

.nav {
	display: flex;
}

.nav_inline {
	gap: var(--space-l);
}

.nav_vertical {
	gap: var(--space-xm);
	flex-direction: column;
}

.nav_link{
	color: var(--color-text);
	font-size: var(--size-d);
	text-decoration: none;

	line-height: 100%;
}

.nav_link:hover {
	text-decoration: underline;
	color: var(--color-primary);
}

.footer {
	padding: var(--space-l) 0;
	border-top: 1px solid var(--color-border);

	display: flex;
	justify-content: space-between;
}

.footer_copyright {
	font-size: var(--size-s);
	color: var(--color-text);

	display: block;
	margin-top: var(--space-l);
}

.footer_title {
	font-size: var(--size-l);
	color: var(--color-title);

	display: block;
	margin-bottom: var(--space-l);

	font-weight: var(--weight-title);
}

.main {
	display: flex;
	width: 1000px;
	align-items: center;
	gap: 80px;
	
}

.main_image {
	width: 500px;
	height: 500px;
	border-radius: 0;
}

.main_content {
	display: flex;
	flex-direction: column;
	align-items:flex-start;
	gap: 24px;
}

.main_heading {
	font-size: var(--space-b);
	color: var(--color-title);
	font-weight: var(--weight-title);
	line-height: 120%;
}

.main_descriotion {
	color: var(--color-text);
	font-size: var(--size-d);
	line-height: 170%;
}
.main_button {
	color: var(--color-white);
	background-color: gray;
}

.button:hover {
	opacity: 0.7;
}
.button {
	display: flex;
	font-size: var(--size-d);
	text-decoration: none;
	padding: var(--space-m) var(--space-xm);
	border-radius: var(--border-radius);

}

.featured {
	display: flex;
	gap: 80px;
}

.card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: var(--space-l);
	padding: 0 26px;
}

.card_photo {
	height: 64px;
	width: 64px;
	border-radius: var(--border-radius);
}

.card_heading {
	font-size: 32px;
	font-weight: var(--weight-title);
	color: var(--color-title);
}

.card_text {
	font-weight: var(--weight-text);
	font-size: var(--size-d);
	color: var(--color-text);
}

.card_link:hover {
	opacity: 0.7;
}

.actions {
	display: flex;
	justify-content: space-between;
	align-items: center;
	

	background: var(--color-primary);
	padding: var(--space-l);
	border-radius: 8px;
}

.actions_content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: var(--space-m);
}

.actions_heading {
	font-size: var(--space-l);
	font-weight: var(--weight-title);
	color: var(--color-white);
}

.actions_button {
	background-color: var(--color-white);
	color: var(--color-text);
	display: column;
	justify-content: center; 
	padding: var(--space-m) var(--space-xm);
	border-radius: 5px;

}


